.homepage #catAbb,
.homepage #go,
.homepage .leftlinks #cl_app_beta,
.no-js,
p.more {
  display: none;
}

#logo {
  font-size: 2.5rem;
}

.homepage-search .querybox {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #464646;
  font-size: 16px;
}

.menu.collapsible > li {
  cursor: pointer;
}

.menu.collapsible > li.expand.s ul {
  display: block;
}

.menu.collapsible > li ul {
  display: none;
}

/* Your code here */

* {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  background-color: #F5F5F5;
  color: #464646;
}

td {
  border: 1px solid #333;
  text-align: center;
}

td:hover{
  background-color: lavender;
}

.past {
  color: rgba(0, 0, 0, 0.5);
}

.today > a {
  background-color: darkviolet;
  color: white;
}

.cal {
  border-collapse: collapse;
}

a {
  text-decoration: none;

}

.ban::before {
  content: "☮️ ";
}

ul {
  padding: 0%;
}

ul > li {
  list-style: none;
}

a:hover {
  color: #800080;
  font-weight: bold;
}

a > span:hover {
  color: #800080;
  font-weight: bold;
}

.page-container {
  max-width: 1200px;
}

#leftbar,
#center,
#rightbar {
  float: left;
  padding: 20px 30px;
  box-sizing: border;
}

#leftbar,
#rightbar {
  width: 25%;
}

#center {
  width: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: #464646;
  border-radius: 10px;
}

#center > div {
  float: left;
  width: 33%;
}

#topban h2 {
  text-align: center;
}

footer {
  clear: both;
}

.clfooter {
  text-align: center;
  border-top: 1px solid gray;
  padding: 10px 0px;
}

.clfooter > li {
  display: inline;
  padding-right: 5px;
}
